.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.4px;
    div{
        background: none;
        padding: 1.5px 1.5px;
        margin: 0.4px;
    }
}

input{
    width: 75%;
    padding: 5px;
    margin: 5px;
}

button{
    padding: 6.8px;
    background-color: blue;
    margin: 8px;
    -webkit-text-stroke: rgb(199, 199, 199) 0.28px;
    color: #ffff;
    border-radius: 10px;
}




@media (min-width: 450px){
    .flex-container{
        display: flexbox;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;

    }

}