<mat-card class="pokemon-card-details" appearance="outlined">
  <div class="container">
    <mat-card-header>
      <div mat-card-avatar class="container-card"></div>
      <mat-card-title>Nome do Pokemon</mat-card-title>
      <div class="container-types">
        <a>{{pokemonName}}</a>
        <a>{{pokemonTypes}}</a>
    </div>
    </mat-card-header>
    <img mat-card-image [src]="getImagemPokemon()" alt="Imagem do Pokémon">
    <mat-card-content>
      <h3>Gráfico de Stats</h3>
   
      <canvas #radarChart></canvas>
    </mat-card-content>
    <mat-card-actions class="buttons-card">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </div>
</mat-card>
