.pokemon-card-details {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    margin: 25px 25px;
    background-color: none;
    box-shadow: #fff 3px 3px 9px 15px inset;
    border-color: gold;
    border-style: dotted;
    border-radius: 15px;
  /* Add some padding inside the card container */
    .container {
        align-items: center;
        padding: 5px;
        margin: 5px;
        background-color: none;
        box-shadow: #fff 3px 3px 9px 15px inset;
        border-color: gold solid;
        border-radius: 15px;
      img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        display: block;
        margin: auto;
      }
    }
  }

  .buttons-card{
    justify-content: space-around;
  }

  a{
    display: block;
    padding: 5px ;
    border-radius: 5px;
    margin: 5px;
    font-weight: 550;
    font-size: 1rem;
    &.type-normal {
      background-color: #A8A878;
      color: white;
    }

    &.type-fighting {
      background-color: #C03028;
      color: white;
    }

    &.type-flying {
      background-color: #A890F0;
      color: white;
    }

    &.type-poison {
      background-color: #A040A0;
      color: white;
    }

    &.type-ground {
      background-color: #E0C068;
      color: white;
    }

    &.type-rock {
      background-color: #B8A038;
      color: white;
    }

    &.type-bug {
      background-color: #A8B820;
      color: white;
    }

    &.type-ghost {
      background-color: #705898;
      color: white;
    }

    &.type-steel {
      background-color: #B8B8D0;
      color: black;
    }

    &.type-fire {
      background-color: #F08030;
      color: white;
    }

    &.type-water {
      background-color: #6890F0;
      color: white;
    }

    &.type-grass {
      background-color: #78C850;
      color: white;
    }

    &.type-electric {
      background-color: #F8D030;
      color: black;
    }

    &.type-psychic {
      background-color: #F85888;
      color: white;
    }

    &.type-ice {
      background-color: #98D8D8;
      color: black;
    }

    &.type-dragon {
      background-color: #7038F8;
      color: white;
    }

    &.type-dark {
      background-color: #705848;
      color: white;
    }

    &.type-fairy {
      background-color: #EE99AC;
      color: black;
    }

    &.type-stellar {
      background-color: #fff1f1;
      color: white;
    }

    &.type-unknown {
      background-color: #000000;
      color: white;
    }
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
