body{
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.25vh 1.5vh;
  text-align: center;
  margin-top: 50px;
  bottom: 0;
  position: fixed;
  width: 90%;
  
  nav{
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    
      strong{
        text-shadow: 16px 16px 16px rgb(255, 196, 0), 0 0 10em rgb(255, 196, 0), 0 0 0.2em rgb(255, 196, 0);
      }
    li {
      display: inline-block;
      margin: 0 10px;
    
      a {
        color: #fff;
        text-decoration: none;
        }
    }
    }
  }
 }




 