@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --linear-gradiente-silver: linear-gradient(45deg, rgba(127, 127, 127, 1) 11%, rgba(161, 161, 161, 1) 31%, rgba(195, 195, 195, 1) 55%, rgba(192, 192, 192, 1) 71%, rgba(237, 237, 237, 1) 100%);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #c0c0c0, 0 0 10px #c0c0c0, 0 0 15px #c0c0c0;
    border-radius: 15px;
    border-color: #c0c0c0;
  }
  50% {
    box-shadow: 0 0 15px #c0c0c0, 0 0 10px #c0c0c0, 0 0 25px #c0c0c0;
    border-radius: 40px;
    border-color: #c0c0c0;
    background: white;
  }
  100% {
    box-shadow: 0 0 5px #c0c0c0, 0 0 20px #c0c0c0, 0 0 15px #c0c0c0;
    border-radius: 15px;
    border-color: #c0c0c0;
  }
}

.card {
  transition: 0.3s;
  border: solid black (0, 0, 0, 1);
  box-shadow: rgb(192, 192, 192, 0.375) 3px 3.1px 15px ;
  border-radius: 25px;
  width: 8rem;
  justify-items:first baseline;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;

  .container {
    padding: 0.2px 6px;
    background: none;
    margin: 0;
    font-size: 15px;
    -webkit-text-stroke: black 0.15px;
    color: whitesmoke;

    p {
      padding: 5px 10px;
      border-radius: 5px;
      margin: 2px;

      &.type-normal {
        background-color: #A8A878;
        color: white;
      }

      &.type-fighting {
        background-color: #C03028;
        color: white;
      }

      &.type-flying {
        background-color: #A890F0;
        color: white;
      }

      &.type-poison {
        background-color: #A040A0;
        color: white;
      }

      &.type-ground {
        background-color: #E0C068;
        color: white;
      }

      &.type-rock {
        background-color: #B8A038;
        color: white;
      }

      &.type-bug {
        background-color: #A8B820;
        color: white;
      }

      &.type-ghost {
        background-color: #705898;
        color: white;
      }

      &.type-steel {
        background-color: #B8B8D0;
        color: black;
      }

      &.type-fire {
        background-color: #F08030;
        color: white;
      }

      &.type-water {
        background-color: #6890F0;
        color: white;
      }

      &.type-grass {
        background-color: #78C850;
        color: white;
      }

      &.type-electric {
        background-color: #F8D030;
        color: black;
      }

      &.type-psychic {
        background-color: #F85888;
        color: white;
      }

      &.type-ice {
        background-color: #98D8D8;
        color: black;
      }

      &.type-dragon {
        background-color: #7038F8;
        color: white;
      }

      &.type-dark {
        background-color: #705848;
        color: white;
      }

      &.type-fairy {
        background-color: #EE99AC;
        color: black;
      }

      &.type-stellar {
        background-color: #fff1f1;
        color: white;
      }

      &.type-unknown {
        background-color: #000000;
        color: white;
      }
    }
  }
}
.card:hover {
  animation: glow 6s linear infinite;
}