
:root{
  --linear-gradiente-silver: linear-gradient(45deg, rgba(127,127,127,1) 11%, rgba(161,161,161,1) 31%, rgba(195,195,195,1) 55%, rgba(192,192,192,1) 71%, rgba(237,237,237,1) 100%);
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #c0c0c0, 0 0 10px #c0c0c0, 0 0 15px #c0c0c0;
    border-radius: 15px;
    border-color: #c0c0c0;    

  }
  50% {
    box-shadow: 0 0 15px #c0c0c0, 0 0 10px #c0c0c0, 0 0 25px #c0c0c0;
    border-radius: 40px;
    border-color: red;
    background: white;

  }
  100% {
    box-shadow: 0 0 5px #c0c0c0, 0 0 20px#c0c0c0, 0 0 15px #c0c0c0;
    border-radius: 15px;
    border-color: #c0c0c0;

  }
}

.card {
/* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: solid black (0,0,0,1);
  box-shadow: black 3px 3.5px 3px;
  width: 11rem;
  animation: glow 6s linear infinite;
  .card .container{
    justify-items: center;
    align-items: center;
    text-align: center;
   
  }

  
  /* Add some padding inside the card container */
  .container {
    padding: 0.2px 16px;
    background: white;
    margin: 0;
   }
   .Button-Deslike{
    padding: 2px;
    margin: 5px;
    background: #1383F2;
    color: white;
    border-radius: 50% 20% / 10% 40%;
    transition: 0.7s;
   }
   .Button-Like{
    padding: 2px;
    margin: 0;
    background: red;
    color: white;
    border: opacify($color: #000000, $amount: 0) (0.0.0.0);
    border-radius: 50% 20% / 10% 40%;
    transition: 0.7ms;
   }
   button:hover{
    background: white;
    color: #000000;
    padding: 8px;
   }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
}




