.card {
/* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: solid black (0,0,0,1);
  width: 11.534rem;
  box-shadow: black 1.25px 1.75px 1.75px 1.9px;
  
  /* Add some padding inside the card container */
  .container {
    padding: 0.2px 16px;
    background: white;
    margin: 0;
    .name-pokemon{
      background: red;
      color: white;
      text-align: center;
      border-radius: 50% 20% / 10% 40%;
      box-shadow: 1px 1px 9px 1px black;
      padding: 6px;
      transition: ease-in-out 600ms;
      
    }
    .name-pokemon:hover{
      background: rgb(52,52,241);
      background: linear-gradient(45deg, 
      rgba(52,52,241,1) 0%, 
      rgba(198,198,226,1) 82%, 
      rgba(238,238,238,1) 100%);
    }
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
}




