@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */
body{
    background: rgba(5, 4, 4,);
    background: linear-gradient(45deg, rgba(255,244,244,1) 0%, rgba(128,128,128,1) 50%, rgba(0,0,0,1) 100%);
    background-image: url("https://i.pinimg.com/564x/31/52/b1/3152b151b84a7016d0d150b5780944eb.jpg");
    background-repeat: repeat;


}

*{
    padding: 0;
    margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
