@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */
body{
    background: rgba(5, 4, 4,);
    background-image: 
        url("./assets/abstract-uv-ultraviolet-light-composition.jpg"),
        linear-gradient(
            45deg, 
          rgba(255,244,244,0.7) 0%,
          rgba(128,128,128, 0.7) 50%,
          rgba(0,0,0,0.7) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


}

*{
    padding: 0;
    margin: 0px;
    
}
html, body { 
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
