@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200&family=Poppins&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --linear-gradiente-silver: linear-gradient(45deg, rgba(127,127,127,1) 11%, rgba(161,161,161,1) 31%, rgba(195,195,195,1) 55%, rgba(192,192,192,1) 71%, rgba(237,237,237,1) 100%);
  --vantablack-color{
    background-color: #000100;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #e82222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

 
  a.active-pokeball {
    background: none;
    border-radius: 12px;
  }

  div .topnav{
    width: 100%;
  }

  a.active-pokeball img {
    background: red;
    border: #333 solid 3.5px;
    border-radius: 50%;
    width: 35px;
    animation: glow 3s linear infinite; /* Adiciona a animação glow */
    transition: ease-in 3s;


  }

  a.text-pokedex {
    margin-left: 10px;
    font-size: 40px;
    color: #ffd700;
    -webkit-text-stroke: 0.385px #c0c0c0;

    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;

    text-decoration: solid;
    background: none;
    text-shadow: #c0c0c0 2.5px 3px 4.7px;
    
  }
}

/*the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 2px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: gray;
}

/* Add a color to the active/current link */
.topnav a.active-poleball {
  background-color: red;
  color: white;
}

.active {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}



@keyframes glow {
  0% {
    box-shadow: 0 0 10px #c0c0c0, 0 0 20px #c0c0c0, 0 0 30px #c0c0c0;
    border-radius: 10px;
    border-color: #c0c0c0;    

  }
  50% {
    box-shadow: 0 0 30px #c0c0c0, 0 0 20px #c0c0c0, 0 0 50px #c0c0c0;
    border-radius: 25px;
    border-color: red;
    background: white;

  }
  100% {
    box-shadow: 0 0 10px #c0c0c0, 0 0 20px#c0c0c0, 0 0 30px #c0c0c0;
    border-radius: 10px;
    border-color: #c0c0c0;

  }
}
@keyframes thunder {
  0% {
    box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00;
    border-radius: 10px;
  
  }
  50% {
    box-shadow: 0 0 15px #ffff00, 0 0 2cqb #ffff00, 0 0 25px #ffff00;
    border-radius: 25px;
    background: white;
  }
  100% {
    box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00;
    border-radius: 10px;
  }
}

.click{
  width: 55px;
  margin: 15px;
  padding: 5px;
}

.indicator-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.indicator.red {
  background-color: #2600ff;
}

.indicator.yellow {
  background-color: #ffff00;
}

.indicator.green {
  background-color: #00ff00;
}